DATABASE_URL="postgresql://usuario:senha@host:5432/banco"
NEXTAUTH_SECRET="gere-uma-string-aleatoria-segura-aqui"
NEXTAUTH_URL="https://seu-app.discloud.app"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_GROUP_OS=""
NEXT_PUBLIC_VELOCIDADE_ALERTA=""
RASTREAMENTO_API_URL="https://gtsnet.rastrosystem.com.br/api_v2"
RASTREAMENTO_API_TOKEN=""
