NAME=GTS Operations Center
TYPE=site
ID=gtscenter
MAIN=package.json
VERSION=latest
RAM=3072
AUTORESTART=true
BUILD=npm install && npx prisma generate && npm run build
START=npm run start
APT=libnss3,libatk-bridge2.0-0,libdrm2,libxkbcommon0,libxcomposite1,libxdamage1,libxfixes3,libxrandr2,libgbm1,libasound2,libpangocairo-1.0-0,libgtk-3-0,libxshmfence1,libx11-xcb1,libnspr4,fonts-liberation,ca-certificates
